// COLORS 
$color-white : #ffffff; 
$color-tundora : #484848; 
$color-bay-leaf : #79b276; 
$color-firefly : #040b11; 
$color-alzarin-crimson : #e32929; 
$color-akaroa : #d6c9b0; 
$color-japanese-maple : #78020f; 
$color-cranberry: #db677d; 
$color-seagull : #79b7e4; 
$color-deep-cerulean : #036db4; 
$color-athens-gray : #e5e8eb;
$color-cape-cod : #3f4843; 
$color-gumbo : #7f9ea8; 
$color-stonewall : #93806f; 
$color-punch : #d82b32; 
$color-axoloti : #48644b; 
$coor-tamarillo : #9f1726; 
$color-aztec : #0f1d1f; 
$color-sorrell-brown : #d2b899; 