@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css'; 
@import  '../styles/partials/variables';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
  cursor: pointer;
}

.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container_50{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

img{
    max-width: 100%;
}

.btn_green{
    background-color: #7ABC64;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    text-align: center;
    color: white;
    text-decoration: none;

}

.btn_green:hover{
    background-color: white;
    color:  #7ABC64;
    border: 1px solid #7ABC64;
}

.btn_gumbo{
    border: 3px solid $color-gumbo;
    display: inline-block;
    line-height: 30px;
    height: 33px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    text-align: center;
    color: $color-gumbo; 
    text-decoration: none;
}

.btn_gumbo:hover{
    background-color: $color-gumbo;
    color: white;
}



.btn_green_square{
    background-color: #7ABC64;
    display: flex; 
    width: 30px;
    height: 15px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 8px;
}

.white_square{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 5px;
}

.pos_relative{
    position: relative;
}

.d_flex{
    display: flex;
}

.alignIt_center{
    align-items: center;
}

.justify_space_btw{
    justify-content: space-between;
}

.justify_center{
    justify-content: center;
}

.flex_wrap{
    flex-wrap: wrap;
}

.flex_direction_row{
    flex-direction: row;
}

.f_small{
    font-size: small;
}

.f_xx_large{
    font-size: xx-large;
}

.vertical_al_sub{
    vertical-align: sub;
}

.line_height_30{
    line-height: 30px;
}

.line_height_25{
    line-height: 25px;
}

.textalign_center{
    text-align: center;
}

.gap_2{
    column-gap: 2px;
}


// COL SECTION 

.col_1{
    width: calc(100% / 12 * 1);
    padding: 1rem;
}

.col_2{
    width: calc(100% / 12 * 2);
    padding: 1rem;
}

.col_3{
    width: calc(100% / 12 * 3);
    padding: 1rem;
}
.col_4{
    width: calc(100% / 12 * 4);
    padding: 1rem;
}

.col_5{
    width: calc(100% / 12 * 5);
    padding: 1rem;
}

.col_6{
    width: calc(100% / 12 * 6);
    padding: 1rem;
}


.col_7{
    width: calc(100% / 12 * 7);
    padding: 1rem;

}

.col_8{
    width: calc(100% / 12 * 8);
    padding: 1rem;
}

.col_9{
    width: calc(100% / 12 * 9);
    padding: 1rem;
}

.col_10{
    width: calc(100% / 12 * 10);
    padding: 1rem;
}

.col_11{
    width: calc(100% / 12 * 11);
    padding: 1rem;
}

.col_12{
    width: calc(100% / 12 * 12);
    padding: 1rem;
}